.add-note-type-button {
    margin-right: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ant-collapse-header {
    width: 500px;
}

.ant-collapse-content {
    background: transparent !important;
}