.field-form {
    width: 1000px;
    padding-left: 22px;
}

.add-field-button {
    margin-right: 12px;
}

.actions-control-container {
    display: flex;
    justify-content: space-evenly;
    width: 400px;
    align-items: center;
    padding-bottom: 16px;
}

.form-fields-container {
    padding: 20px;
    width: 600px;
    border: solid 0.5px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.actions-container {
    margin: 20px 0;
    width: 600px;
    border: solid 0.5px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}